.cart {
  list-style-type: none;
  padding: 5px;
  margin: 2px auto;
  position: fixed;
  min-width: 320px;
  border-radius: 10px;
  border: #d2d2d2d2 solid 1px;
  width: fit-content;
  margin-right: 5%;
  overflow: scroll;
  max-height: 50%;
  margin-top: 60px;
  overflow-x: hidden;
  scrollbar-width: none;
}
.cartItem {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.cartItem:hover {
  background-color: #aa0b0bd2;
}

.details {
  display: flex;
  justify-content: start;
  gap: 5%;

  width: 340px;
  button {
    display: inline;
    width: fit-content;
  }
  h4 {
    width: fit-content;
    display: inline;
    background-color: #5ac1ff;
  }
  button:hover,
  h4:hover {
    background-color: #89cdf7;
  }
}
