.productContainer {
  padding: 12px 1px;
  margin: 5px;
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  h1 {
    font-size: 1rem;
    margin: 1px;
    height: 40px;
    overflow: hidden;
    padding: 5px;
  }
  .photo {
    width: 150px;
    height: 150px;
  }
  .description {
    height: 42px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
      font-size: 0.8rem;
      margin: 1px auto;
    }
  }
  h4 {
    margin: 2px;
  }
}
